{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "prettier",
    "plugin:jest/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint", "jest"],
  "ignorePatterns": ["cypress/**/*"],
  "rules": {
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": "off",
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "import/no-extraneous-dependencies": "off",
    "no-unused-expressions": "off",
    "react/function-component-definition": "off",
    "react/no-unescaped-entities": "off",
    "react/require-default-props": "off",
    "import/export": "off",
    "no-restricted-exports": "off",
    "react/prop-types": "off"
  },
  "overrides": [
    {
      "files": ["src/**/*.test.ts", "src/**/*.test.tsx"],
      "env": {
        "jest": true
      },
      "extends": ["plugin:jest/recommended"],
      "plugins": ["jest"]
    }
  ]
}
